.react-datepicker__input-container input { 
  width: 119%; 
  border-color: rgb(255, 255, 255);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 18%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}

.react-datepicker-popper {
  overflow: visible; 
  z-index: 2147483647 !important;
}

.react-datepicker {
  z-index: 3 !important;
}

.lel{
  padding-top: 5%;
  padding-right: 0%;
  padding-bottom: 1%;
  padding-left: 6%;
  line-height: 1.5;
  height: fit-content;
  color: #000000;
  text-align: center;
  white-space: nowrap;
}

.calendarControl{
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}

.containerMagic{
  padding-right: 5%;
  border: 1px solid #dee2e6!important;
}

.radious{
  padding: 1% 3%;
  overflow: auto;
}

.dragButton{
  padding: 1% 1%;
  overflow: auto;
}

.rectangule{
  padding-top: 1%;
  padding-right: 135%;
  padding-bottom: 1%;
  padding-left: 0%;
  overflow: auto;
}

.imgContainer{/*
  padding-top: 1%;
  padding-right: 0%;
  padding-bottom: 1%;
  padding-left: 0%;*/
  height: fit-content;
  width: fit-content;
  padding-right: 0%;
  overflow: auto;
}

.datePickerContainer{
  padding-top: 1%;
  padding-right: 19%;
  padding-bottom: 0%;
  padding-left: 0%;
  overflow: auto;
}

.dateRow{
  padding-top: 1%;
  padding-right: 19%;
  padding-bottom: 0%;
  padding-left: 0%;
  flex-grow: 4;
  overflow: auto;
}